<h2><%= @group.name %></h2>
<% if signed_in? %>
  <div id="join-button">
    <%= render 'join_group_button', group: @group %>
  </div>
  <div id="like_button">
    <%= render 'like', subject: @group %>
  </div>
<% end %>
<%= render @images %>
