<%= form_for(@gallery) do |form| %>
  <%= render "error_messages", target: @gallery %>
  <div>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= form.submit "Update Gallery" %>
  </div>
<% end %>
