<h2>My Galleries</h2>

<nav>
  <%= link_to "New gallery", new_gallery_path %>
</nav>
<br>
<% @galleries.each do |gallery| %>
  <div>
    <%= link_to gallery.name, gallery_path(gallery) %>
  </div>
<% end %>
